@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;

}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(233, 142, 57);
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  background-color: #e3e3e3;
}

#button-row {
 
  width: 100%;
  margin: 0 auto;
}

button {
  float: right;
 
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 125px;
  height: 32px;
  margin-right: 0;
  font-family: inherit;
  background-color: rgb(233, 142, 57);
  color: white;
}

i {
  color: rgb(233, 142, 57);
}

#text {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#author {
  float: right;
  margin-bottom: 15px;
  font-weight: 100;
}